<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAFE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CAFE.Properties.Settings.QLCafeConnectionString" connectionString="Data Source=MSI\SQLEXPRESS;Initial Catalog=QLCafe;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="CAFE.Properties.Settings.QLCafeConnectionString1"
            connectionString="Data Source=DungND53\SQLEXPRESS;Initial Catalog=QLCafe;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CAFE.Properties.Settings>
            <setting name="header" serializeAs="String">
                <value>Control</value>
            </setting>
        </CAFE.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CAFE.Properties.Settings>
            <setting name="header1" serializeAs="String">
                <value>Control</value>
            </setting>
        </CAFE.Properties.Settings>
    </applicationSettings>
</configuration>